.recent-signup.ui.list
  .item
    .header.name
      %abbr= link_to "#{person.initials}", person
      = render partial: 'people/hidden_info_popup', locals: { title: 'name', hidden_info: person.full_name }
  .item
    %i.marker.icon
    - address = city_state_to_sentence(person)
    .content.address= address
  .item
    %i.payment.icon
    .content.signup-gift-card
      Gift Card Mailed:
      = t person.signup_gc_sent.class
