.recent-signup
  %span.name= link_to "#{person.first_name} #{person.last_name}", person
  %br/
  %span.address= address_fields_to_sentence(person)
  %br/
  %span.signup-gift-card
    Gift Card Mailed: #{t person.signup_gc_sent.class}
