%h1.ui.header.page-header Edit profile
= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put, class: 'ui form' }) do |f|
  = devise_error_messages!
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.email_field :email, autofocus: true
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  .field
    = f.label :password
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .field
    = f.label :current_password, "Current password (to validate changes)"
    = f.password_field :current_password
  .field
    = f.submit "Update", class: "ui green button"
    = link_to "Cancel", admin_root_path , class: "ui button"
