/ event invitation scheduling handling.
- classes ||= ''
- not_in_cart = session[:cart].blank? || !session[:cart].include?(person.id)
- if not_in_cart
  = link_to t('.schedule', default: "Add to invite"),
    add_cart_path(person_id: person.id),
    class: "ui mini #{classes} button",
    id: "#{person.id}-cart-add",
  remote: true
- else
  = link_to t('.schedule', default: "Remove from invite"),
    delete_cart_path(person_id: person.id),
    id: "#{person.id}-cart-delete",
    class:"ui mini #{classes} button",
    remote: true
