= form_for @person, html: { class: 'ui form' } do |f|
  %h4.ui.dividing.header Contact Information
  .two.fields
    .field
      = f.label :first_name
      = f.text_field :first_name
    .field
      = f.label :last_name
      = f.text_field :last_name
  .two.fields
    .field
      = f.label :email_address, class: 'control-label'
      = f.text_field :email_address
    .field
      = f.label :phone_number
      = f.text_field :phone_number
  .two.fields
    .field
      = f.label :preferred_contact_method
      = f.select :preferred_contact_method, [["Email", "EMAIL"],["Text Message", "SMS"]], {}, class: 'ui dropdown'
  %h4.ui.dividing.header Address
  .two.fields
    .field
      = f.label :address_1
      = f.text_field :address_1
    .field
      = f.label :address_2
      = f.text_field :address_2
  .three.fields
    .field
      = f.label :city
      = f.text_field :city
    .field
      = f.label :state
      = f.text_field :state
    .field
      = f.label :postal_code
      = f.text_field :postal_code
  %h4.ui.dividing.header Devices and Connections
  .two.fields
    .field
      = f.label :primary_device_id
      = f.select :primary_device_id, Cohorts::Application.config.device_mappings.collect{|i| [i.first, i.last] }, {include_blank: true}, class: 'ui dropdown'
    .field
      = f.label :primary_device_description
      = f.text_field :primary_device_description
  .two.fields
    .field
      = f.label :secondary_device_id
      = f.select :secondary_device_id, Cohorts::Application.config.device_mappings.collect{|i| [i.first, i.last] }, {include_blank: true}, class: 'ui dropdown'
    .field
      = f.label :secondary_device_description
      = f.text_field :secondary_device_description
  .two.fields
    .field
      = f.label :primary_connection_id
      = f.select :primary_connection_id, Cohorts::Application.config.connection_mappings.collect{|i| [i.first.to_s.humanize, i.last] }, {include_blank: true}, class: 'ui dropdown'
    .field
      = f.label :primary_connection_description
      = f.text_field :primary_connection_description
  .two.fields
    .field
      = f.label :secondary_connection_id
      = f.select :secondary_connection_id, Cohorts::Application.config.connection_mappings.collect{|i| [i.first.to_s.humanize, i.last] }, {include_blank: true}, class: 'ui dropdown'
    .field
      = f.label :secondary_connection_description
      = f.text_field :secondary_connection_description
  .actions
    = f.submit nil, class: 'ui green button'
    = link_to t('.cancel', default: t("helpers.links.cancel")), people_path, class: 'ui button'
