- content_for :page_title, @person.initials
.ui.grid
  .equal.width.row
    .column
      %h1.ui.header.page-header
        %abbr= @person.initials
        = render partial: 'people/hidden_info_popup', locals: { title: 'name', hidden_info: @person.full_name }
    .right.aligned.column
      .ui.icon.buttons
        = link_to people_path, class: 'ui tooltippy left attached icon button', title: 'Back' do
          %i.left.arrow.icon
        = link_to edit_person_path(@person), class: 'ui tooltippy attached icon button', title: 'Edit' do
          %i.edit.icon
        = link_to deactivate_people_path(@person), method: :post,
        data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
        class: 'ui tooltippy attached icon button', title: 'Deactivate' do
          %i.hide.icon
        = link_to person_path(@person), method: 'delete',
        data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
        class: 'ui tooltippy right attached icon button', title: 'Delete' do
          %i.delete.icon
.ui.divider
.ui.padded.grid
  .row
    .four.wide.column
      %h3.ui.header Contact
      .ui.relaxed.list
        .item
          %i.marker.icon
          .content
            .header Address
            .description
              = render partial: 'hidden_info', locals: { title: 'address', hidden_info: address_fields_to_sentence(@person)}
        .item
          %i.phone.icon
          .content
            .header Phone
            .description
              = render partial: 'hidden_info', locals: { title: 'phone number', hidden_info: @person.phone_number}
        .item
          %i.mail.icon
          .content
            .header Email
            .description
              = render partial: 'hidden_info', locals: { title: 'email address', hidden_info: @person.email_address}
        .item
          %i.text.telephone.icon
          .content
            .header Preferred Contact Method
            .description= best_in_place @person, :preferred_contact_method, as: :select, collection: [['SMS','SMS'], ['EMAIL','EMAIL']]
        .item
          %i.facebook.icon
          .content
            .header Facebook
            .description link to facebook
        .item
          %i.twitter.icon
          .content
            .header Twitter
            .description link to twitter
        .item
          %i.history.icon
          .content
            .header Signup at
            .description= @person.signup_at ? @person.signup_at.to_s(:long) : 'unknown'
    .four.wide.column
      %h3.ui.header About
      .ui.relaxed.list
        .item
          %i.help.circle.icon
          .content
            .header Verified?
            .description= best_in_place @person, :verified
        - if @person.geography_id.present?
          .item
            %i.street.view.icon
            .content
              .header Ward
              .description= link_to @person.geography_id, search_index_path(adv: 1, geography_id: @person.geography_id )
        .item
          %i.desktop.icon
          .content
            .header Primary device
            .description
              = best_in_place @person,:primary_device_description
              %span.muted
                (#{best_in_place @person, :primary_device_id, as: :select, collection:  Cohorts::Application.config.device_mappings.collect{|i| [i.last, i.first]}})
        .item
          %i.mobile.icon
          .content
            .header Secondary device
            .description
              = best_in_place @person,:secondary_device_description
              %span.muted
                (#{best_in_place @person, :secondary_device_id, as: :select, collection:  Cohorts::Application.config.device_mappings.collect{|i| [i.last, i.first]}})
        .item
          %i.wifi.icon
          .content
            .header Primary connection method
            .description
              = best_in_place @person,:primary_connection_description
              %span.muted
                (#{best_in_place @person, :primary_connection_id , as: :select, collection: Cohorts::Application.config.connection_mappings.collect{|i| [i.last,i.first.to_s.humanize]}})
        .item
          %i.signal.icon
          .content
            .header Secondary connection method
            .description
              = best_in_place @person,:secondary_connection_description
              %span.muted
                (#{best_in_place @person, :secondary_connection_id , as: :select, collection: Cohorts::Application.config.connection_mappings.collect{|i| [i.last,i.first.to_s.humanize]}})
        .item
          %i.comments.icon
          .content
            .header Preferred participation method
            .description= best_in_place @person, :participation_type, as: :select, collection: %w(in-person remote)
    .eight.wide.column
      %h3.ui.header Location
      %a{href: "https://maps.google.com?q=#{CGI.escape(address_fields_to_sentence(@person)).html_safe}", target: "_blank", title: "View in Google Maps"}
        %img{src: "https://maps.googleapis.com/maps/api/staticmap?markers=|#{CGI.escape(address_fields_to_sentence(@person)).html_safe}&zoom=14&size=540x270&sensor=false&key=#{ENV["GOOGLE_API_KEY"]}".html_safe}/
      / <img src="https://maps.googleapis.com/maps/api/streetview?size=570x200&amp;amp;location=<haml:loud> CGI.escape(address_fields_to_sentence(@person)).html_safe </haml:loud>&amp;amp;sensor=false">
  .equal.width.row
    .column
      %h3.ui.header Statistics
      .ui.tiny.green.statistic#gift_card_total
        .value
          %i.dollar.icon
          = humanized_money @person.gift_card_total
        .label total sent
  .equal.width.row
    .column
      %h3.ui.header Tags
      = form_for(@tagging, remote: true, html: { class: "ui form" }) do |f|
        = f.hidden_field :taggable_type, value: "Person"
        = f.hidden_field :taggable_id, value: @person.id
        .field
          .ui.action.input
            = f.select :name, Tag.order(:name).map { |t| [t.name, t.name] }, {include_blank: 'New tag'}, { class: 'ui fluid search selection dropdown allow-addition' }
            .ui.green.submit.button{ type: 'submit' }
              %i.tag.icon
              Add
      .ui.green.labels#tag-list
        = render partial: 'taggings/tagging', collection: @person.taggings
    .column
      %h3.ui.header Notes
      = form_for([@person, @comment], remote: true, html: { class: "ui form" }) do |form|
        = form.hidden_field :commentable_type, value: 'Person'
        = form.hidden_field :commentable_id, value: @person.id
        .field
          .ui.fluid.action.input
            = form.text_field :content, placeholder: 'New note'
            .ui.green.submit.button{ type: 'submit' }
              %i.edit.icon
              Add
      .ui.comments#comments
        = render partial: 'comment', collection: @person.comments.order("created_at DESC")
  - if @twilio_wufoo_forms.count.positive?
    #person-events.row
      %h3.ui.header Communications
      %table.ui.striped.table
        %tr
          %th Campaign Name
        - @twilio_wufoo_forms.each do |form|
          %tr
            %td
              = form.name
  .equal.width.row
    .column
      %h3.ui.header
        Gift Cards
      #error-div
      = form_for([@person, @gift_card], remote: true, html: { class: 'ui form' }) do |form|
        - if @gift_card.errors.any?
          #errorExplanation.ui.negative.message
            %h3.ui.header
              = pluralize(gift_card.errors.size, "error")
              prohibited this record from being saved.
            %p There were problems with the following fields:
            %ul
              - gift_card.errors.full_messages.each do |msg|
                %li= msg
        = form.hidden_field :person_id, value: @person.id
        = form.hidden_field :reason, value: "signup"
        .six.fields
          .field{id: "new-batchid-#{@person.id}"}
            .ui.mini.input
              = form.text_field :batch_id, placeholder: "Batch ID"
          .field{id: "new-proxyid-#{@person.id}"}
            .ui.mini.input
              = form.text_field :proxy_id, placeholder: "Proxy ID"
          .field{id: "new-cardnumber-#{@person.id}"}
            .ui.mini.input
              = form.text_field :gift_card_number, placeholder: 'Card Number'
          .field{id: "new-expirationdate-#{@person.id}"}
            .ui.mini.input
              = form.text_field :expiration_date, placeholder: "MM/YY"
          .field
            .ui.mini.input
              = form.text_field :amount, value: nil, placeholder: 'Amount'
          .field
            = form.submit 'Add Gift Card', class: "ui mini fluid green button"
      %table.ui.sortable.striped.table
        %thead
          %tr
            %th Reason
            %th Giftable ID
            %th Batch
            %th Card Number
            %th Expiration Date
            %th Amount
            %th Created On
            %th.center.aligned Actions
        %tbody#people_gift_cards
          = render partial: 'people/gift_card', collection: @person.gift_cards.order("created_at DESC")
  - if @person.answers.any?
    .equal.width.row
      .column
        %h3.ui.header Answers
        %table.ui.striped.sortable.table
          %thead
            %tr
              %th Question
              %th Answer
              %th Answered on
          %tbody
            - for answer in @person.answers
              %a{id: "answer-#{answer.id}"}
              %tr
                %td= answer.question.text
                %td= answer.value
                %td= answer.created_at.strftime('%b %e, %Y at %l:%M %p')
