:javascript
  defaultDate = '#{@default_date}';
  token = '#{@person.nil? ? false : @person.token}';
- if current_user
  = render partial: 'layouts/v2_event_menu'
.ui.message
  Calendar for #{@visitor.full_name}
#calendar
%br/
= link_to "Add to this your calendar", {controller: 'calendar', action: :feed, token: @visitor.token, protocol: 'webcal', format: :ics}, {class: 'ui button'}
/ this is where we drop our modals
#show-reservation
#show-invitation
#show-event
- if @show_modal
  / this is how we display a modal if a person links to it.
  - case @show_modal
  - when 'reservation'
    :javascript
      $.getScript('#{calendar_show_reservation_path(id: @reservation.id, token: @visitor.token)}');
  - when 'time_slot'
    :javascript
      $.getScript('#{calendar_show_invitation_path(id: @time_slot.id, token: @visitor.token)}');
  - when 'event'
    :javascript
      //$.getScript('#{calendar_show_event_path(id: @event.id, token: @visitor.token)}');
