- content_for :page_title, @application.name
.page-header
  %h1= @application.name
.row
  .span9
    = simple_format @application.description
  .span3
    .well
      %dl
        %dt URL
        %dd= link_to @application.url
        %dt Source Code
        %dd= link_to @application.source_url
        %dt Creator
        %dd= @application.creator_name
        %dt Program
        %dd= link_to @application.program.name, @application.program
.row
  .span6
    %h3 Events
    - if @application.events.any?
      %ul
        - for event in @application.events do
          %li
            = link_to event.name, event
            , at #{event.location}
    - else
      %p
        No events are scheduled for this application. #{link_to 'Create the first event now', new_event_path(application_id: @application.id)}.
  .span6
    %h3 Tests
    %p No tests for this application yet.
.row
  .span12
    %hr/
    %p.muted.pull-left= link_to "&larr; All Applications".html_safe, applications_path
    %p.pull-right
      = link_to 'Edit this application', edit_application_path
      \. Last updated #{time_ago_in_words(@application.updated_at)} ago.
