.field
  = f.label :engagement_id, 'Engagement'
  = f.select :engagement_id, Engagement.all.collect { |p| [ p.topic, p.id ] }, {include_blank: true, selected: @engagement.id}, class: 'ui search selection dropdown'
.field
  = f.label :datetime, 'Date and Time'
  .ui.datetime.calendar
    .ui.left.icon.input
      %i.calendar.icon
      = f.text_field :datetime
.field
  = f.label :person_ids, 'People'
  = f.select :person_ids, Person.all.collect { |p| [ p.full_name, p.id ] }, {include_blank: true}, multiple: true, class: 'ui search selection dropdown'
.field
  = f.label :notes
  = f.text_area :notes