%tr{ id: "research_session-#{research_session.id}" }
  %td
    %a.green.link.modal-show{ id: "show-research_session-#{research_session.id}-modal" }
      = research_session.datetime.strftime('%b %e, %Y at %l:%M %p')
    = render partial: 'modal', locals: { research_session: research_session, action: 'show' }
  %td= research_session.engagement.topic
  %td= research_session.client.name
  %td= research_session.people.map(&:full_name).join(', ')
  %td.center.aligned.collapsing
    .ui.icon.buttons
      .ui.left.attached.icon.modal-show.button{ id: "update-research_session-#{research_session.id}-modal" }
        %i.edit.icon
      = render partial: 'modal', locals: { research_session: research_session, action: 'update' }
      .ui.right.attached.icon.modal-show.button{ id: "destroy-research_session-#{research_session.id}-modal" }
        %i.delete.icon
      = render partial: 'modal', locals: { research_session: research_session, action: 'destroy' }
