%h3 If you are using a Wufoo form, please make sure it is set up correctly:
%ul
  %li The second to last field should be the phone number field
  %li The last field in the form should be the form type. The form type should be one of "Signup", "Screening", "Availability", or "Test"
= form_for(@twilio_wufoo) do |f|
  - if @twilio_wufoo.errors.any?
    #error_explanation
      %h2
        = pluralize(@twilio_wufoo.errors.count, "error")
        prohibited this twilio_wufoo from being saved:
      %ul
        - @twilio_wufoo.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :form_type
    %br/
    = f.select(:form_type, Submission.form_types.keys.map {|form_type| [form_type.titleize,form_type]})
  .field
    = f.label :wufoo_formid
    %br/
    = f.text_field :wufoo_formid
  .field
    = f.label :twilio_keyword
    %br/
    = f.text_field :twilio_keyword
  .field
    = f.label :end_message
    (This is ignored if Form Type is "signup")
    %br/
    = f.text_area :end_message, id: "counted", rows: 3, class: 'span5', maxLength: 160
    Characters left:
    %span#char-count 160
  .field
    = f.label "Active?"
    %br/
    = f.select :status, [["On", true],["Off", false]], {class: "span3"}
  .actions
    = f.submit
:javascript
  $(document).ready(function() {
    $('#char-count').html($('#counted').val().length);
  });
 
  $('#counted').keyup(function() {
    $('#char-count').html(160 - $(this).val().length);
  });
