= form_for(@twilio_message) do |f|
  - if @twilio_message.errors.any?
    #error_explanation
      %h2
        = pluralize(@twilio_message.errors.count, "error")
        prohibited this twilio_message from being saved:
      %ul
        - @twilio_message.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :message_sid
    %br/
    = f.text_field :message_sid
  .actions
    = f.submit
