= form_for @event_invitation,
  url: v2_event_invitations_path,
  method: :POST,
  remote: true,
  html: { class: 'ui form' } do |f|
  .field
    = f.label :people_ids, "People"
    = f.select :people_ids, Person.all.collect { |p| [ p.full_name, p.id ] },
      {include_blank: true}, multiple: true, class: 'ui search selection dropdown'
  .field
    = f.label :title, 'Event title'
    = f.text_field :title
  .field
    = f.label :description, 'Event description'
    = f.text_area :description
  .field
    = f.label :slot_length, 'Call length'
    = f.select :slot_length, options_for_select([15,30,45,60].map {|o| "#{o.to_s} mins"}), {}, class: 'ui dropdown'
  .field
    = f.label :buffer, 'Buffer'
    = f.select :buffer, options_for_select([0,5,10,15,20,30,45,60].map {|o| ["#{o.to_s} mins",o]},selected: 5), {}, class: 'ui dropdown'
  %h2.ui.header Time window
  .field
    = f.label :date
    .ui.calendar
      .ui.left.icon.input
        %i.calendar.icon
        = f.text_field :date
  .field
    = f.label :start_time
    = f.select :start_time, simple_time_select_options, {}, class: 'ui dropdown'
  .field
    = f.label :end_time, class: 'control-label'
    = f.select :end_time, simple_time_select_options, {}, class: 'ui dropdown'
  .field
    = f.submit 'Send invitation', class: 'ui green button', id: 'submit'
    = link_to t('.cancel', default: t("helpers.links.cancel")),
      people_path, class: 'ui button'
