= render partial: 'layouts/v2_event_menu'
%h1.ui.header List of Events
.ui.grid
  .equal.width.row
    .column
      %table.ui.sortable.striped.table
        %thead
          %tr
            %th Title
            %th Description
            %th Starts at
            %th Ends at
            %th Created By
            %th Number Invited:
            %th Reservations
        %tbody
          - @events.each do |event|
            %tr
              %td= link_to event.title, event
              %td= event.description
              %td= event.start_datetime.to_s :long
              %td= event.end_datetime.to_s :long
              %td= event.user.name
              %td= event.invitees.count
              %td= event.event.reservations.size
              / probably link to the reservations for this event
  .equal.width.row
    .center.aligned.column
      = will_paginate @events, renderer: WillPaginateSemanticUi::ActionView::Renderer
  .equal.width.row
    .column
      = link_to 'New Event', new_v2_event_invitation_path, class: 'ui button'
