%tr{ id: "client-#{client.id}" }
  %td
    %a.green.link.modal-show{ id: "show-client-#{client.id}-modal" }= client.name
    = render partial: 'modal', locals: { client: client, action: 'show' }
  %td= client.engagements&.count || 0
  %td= client.research_sessions&.count || 0
  %td.center.aligned.collapsing
    .ui.icon.buttons
      .ui.left.attached.icon.modal-show.button{ id: "update-client-#{client.id}-modal" }
        %i.edit.icon
      = render partial: 'modal', locals: { client: client, action: 'update' }
      .ui.right.attached.icon.modal-show.button{ id: "destroy-client-#{client.id}-modal" }
        %i.delete.icon
      = render partial: 'modal', locals: { client: client, action: 'destroy' }
