= form_for @gift_card do |f|
  - if @gift_card.errors.any?
    #error_explanation
      %h2
        = pluralize(@gift_card.errors.count, "error")
        prohibited this gift_card from being saved:
      %ul
        - @gift_card.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :batch_id
    %br/
    = f.text_field :batch_id, class: 'input-mini', placeholder: '4321'
  .field
    = f.label :proxy_id
    %br/
    = f.text_field :proxy_id, class: 'input-mini'
  .field.input-prepend
    = f.label :gift_card_number
    %br/
    %span.add-on ****-****-***
    = f.text_field :gift_card_number, placeholder: "#####", class: 'input-small', id: "new-cardnumber"
  .field
    = f.label :expiration_date
    %br/
    = f.text_field :expiration_date,class: 'input-mini'
  .field
    = f.label :person_id
    %br/
    = f.number_field :person_id
  .field
    = f.label :notes
    %br/
    = f.text_field :notes
  .field
    = f.label :created_by
    %br/
    = f.number_field :created_by
  .field
    = f.label :reason
    %br/
    = f.select :reason, GiftCard.reasons.keys.to_a, { prompt: "Reason" }
  .actions
    = f.submit
