%tr.gift_card{id: "gift_card-#{gift_card.id}"}
  %td= gift_card.id
  %td= link_to "#{gift_card.person.initials}", person_path(gift_card.person), class: 'green'
  %td= gift_card.reason.titleize
  %td= gift_card.giftable_id
  %td= gift_card.batch_id
  %td= gift_card.proxy_id
  %td= gift_card.gift_card_number
  %td= gift_card.expiration_date
  %td= humanized_money_with_symbol gift_card.amount
  %td= gift_card.created_at.strftime('%m/%d/%Y')
  %td.center.aligned
    .ui.icon.buttons
      = link_to gift_card, class: 'ui left attached icon button' do
        %i.unhide.icon
      = link_to edit_gift_card_path(gift_card), class: 'ui attached icon button' do
        %i.edit.icon
      = link_to gift_card, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui right attached icon button' do
        %i.delete.icon
