%p#notice= notice
%h1.ui.header.page-header
  Showing Gift Card
  = @gift_card.id
.ui.huge.list
  .item
    .header Gift Card Number
    = @gift_card.gift_card_number
  .item
    .header Expiration date
    = @gift_card.expiration_date
  .item
    .header Person
    = @gift_card.person.full_name
  .item
    .header Created by
    = @gift_card.created_by
  .item
    .header Reason
    = @gift_card.reason
  .item
    .header Notes
    = @gift_card.notes
= link_to edit_gift_card_path(@gift_card), class: 'ui labeled icon button' do
  %i.edit.icon
  Edit
= link_to gift_cards_path, class: 'ui labeled icon button' do
  %i.left.arrow.icon
  Back
