%p#notice= notice
%p
  %strong Gift Card Number:
  = @gift_card.gift_card_number
%p
  %strong Expiration date:
  = @gift_card.expiration_date
%p
  %strong Person:
  = @gift_card.person_id
%p
  %strong Notes:
  = @gift_card.notes
%p
  %strong Created by:
  = @gift_card.created_by
%p
  %strong Reason:
  = @gift_card.reason
= link_to 'Edit', edit_gift_card_path(@gift_card)
|
\#{link_to 'Back', gift_cards_path}
