%tr
  %td= link_to engagement.topic, engagement
  - unless local_assigns.fetch(:hide_client, false)
    %td= link_to engagement.client.name, engagement.client
  %td= engagement.start_date.strftime('%m/%d/%Y')
  %td= engagement.end_date.strftime('%m/%d/%Y')
  %td= engagement.research_sessions.count