- modalId = "#{action}-engagement-#{engagement.id.to_s + '-' unless action == 'create'}modal"
- formId = "#{action}-engagement-#{engagement.id.to_s + '-' unless action == 'create'}form"
.ui.modal{ id: modalId }
  .header= "#{action.capitalize} Engagement"
  .content
    - if action == 'destroy'
      = form_for engagement, method: :delete, format: :js, remote: true, html: { class: 'ui form', id: formId } do |f|
        %p Are you sure? This will delete the engagement along with all sessions.
    - else
      = form_for engagement, format: :js, remote: true, html: { class: 'ui form', id: formId } do |f|
        .field
          = f.label :client_id, 'Client'
          = f.select :client_id, Client.all.collect { |p| [ p.name, p.id ] }, {include_blank: true}, class: 'ui search selection dropdown'
        .field
          = f.label :topic
          = f.text_field :topic
        .field
          = f.label :start_date
          .ui.calendar
            .ui.left.icon.input
              %i.calendar.icon
              = f.text_field :start_date
        .field
          = f.label :end_date
          .ui.calendar
            .ui.left.icon.input
              %i.calendar.icon
              = f.text_field :end_date
  .actions
    %input.ui.button{ class: action == 'destroy' ? 'negative' : 'positive', type: 'submit', value: action.capitalize, form: formId }
    .ui.cancel.button Cancel
