.ui.grid
  .equal.width.row
    .column
      .ui.message This form can be used to add a submission from Wufoo and join it with an existing Person.
      = form_for(@submission, html: { class: 'ui form' }) do |f|
        - if @submission.errors.any?
          #error_explanation.alert.alert-error
            %ul
              - @submission.errors.full_messages.each do |msg|
                %li= msg
        .field
          = f.label :person_id, 'Person'
          = f.select :person_id, Person.all.collect { |p| [ p.full_name, p.id ] }, {include_blank: true}, class: 'ui search selection dropdown'
        .field
          = f.label :form_id, 'Wufoo Form'
          = f.select :form_id, Form.where(hidden: false).map { |f| [f.name, f.hash_id]}, {include_blank: true}, class: 'ui dropdown'
        .field
          = f.label :entry_id, 'Wufoo Form Entry ID'
          = f.text_field :entry_id
        .field
          = f.label :form_type
          = f.select(:form_type, Submission.form_types.keys.map {|form_type| [form_type.titleize,form_type]}, {}, class: 'ui dropdown')
        .field
          = f.submit 'Save', class: 'ui green button'
          = link_to 'Cancel', :back, class: 'ui button'
