.ui.grid
  - if @submissions_unmatched.count.positive?
    .row
      .column
        %h2.ui.header Unmatched Form Submissions
        %table.ui.sortable.striped.table
          %thead
            %tr
              %th Form Name
              %th Form Type
              %th Submitted by
              %th Submitted at
              %th.center.aligned Action
          - for submission in @submissions_unmatched do
            %tr
              %td= link_to submission.form_name, submission_path(submission), class: 'green'
              %td= submission.form_type
              %td
                - if submission.person.present?
                  = link_to submission.person.initials, person_path(submission.person), class: 'green'
                - else
                  Unmatched
              %td= submission.created_at.to_s(:long)
              %td.center.aligned
                = link_to t('.edit', default: t("helpers.links.edit")),
                  edit_submission_path(submission), class: 'ui mini button'
  - if @submissions.count.positive?
    .row
      .column
        %h2.ui.header All Form Submissions
        %table.ui.sortable.striped.table
          %thead
            %tr
              %th Form Name
              %th Form Type
              %th Submitted by
              %th Submitted at
              %th.center.aligned Action
          - for submission in @submissions do
            %tr
              %td= link_to submission.form_name, submission_path(submission), class: 'green'
              %td= submission.form_type
              %td
                - if submission.person.present?
                  = link_to submission.person.initials, person_path(submission.person), class: 'green'
                - else
                  Unmatched
              %td= submission.created_at.to_s(:long)
              %td.center.aligned
                = link_to t('.edit', default: t("helpers.links.edit")),
                  edit_submission_path(submission), class: 'ui mini button'
    .row
      .column{style: "text-align:center"}
        = will_paginate @submissions, renderer: WillPaginateSemanticUi::ActionView::Renderer
