%h1 Listing reservations
%table
  %thead
    %tr
      %th Person
      %th Event
      %th Confirmed at
      %th Created by
      %th Attended at
      %th
      %th
      %th
  %tbody
    - @reservations.each do |reservation|
      %tr
        %td= reservation.person_id
        %td= reservation.event_id
        %td= reservation.confirmed_at
        %td= reservation.created_by
        %td= reservation.attended_at
        %td= link_to 'Show', reservation
        %td= link_to 'Edit', edit_reservation_path(reservation)
        %td= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Reservation', new_reservation_path
