%p#notice= notice
%p
  %strong Person:
  = @reservation.person_id
%p
  %strong Event:
  = @reservation.event_id
%p
  %strong Confirmed at:
  = @reservation.confirmed_at
%p
  %strong Created by:
  = @reservation.created_by
%p
  %strong Attended at:
  = @reservation.attended_at
= link_to 'Edit', edit_reservation_path(@reservation)
|
\#{link_to 'Back', reservations_path}
