%p#notice= notice
%h1.ui.header.page-header Listing Mailchimp Updates
.ui.grid
  .equal.width.row
    .column
      %table.ui.sortable.striped.table
        %thead
          %tr
            %th Email
            %th Update type
            %th Reason
            %th Fired at
            %th{colspan: "3"}
        %tbody
          - @mailchimp_updates.each do |mailchimp_update|
            %tr
              %td= mailchimp_update.email
              %td= mailchimp_update.update_type
              %td= mailchimp_update.reason
              %td= mailchimp_update.fired_at
              %td= link_to 'Show', mailchimp_update
              /
                <td><haml:loud> link_to &amp;#39;Edit&amp;#39;, edit_mailchimp_update_path(mailchimp_update) </haml:loud></td>
                <td><haml:loud> link_to &amp;#39;Destroy&amp;#39;, mailchimp_update, method: :delete, data: { confirm: &amp;#39;Are you sure?&amp;#39; } </haml:loud></td>
  .equal.width.row
    .center.aligned.column
      = will_paginate @mailchimp_updates, renderer: WillPaginateSemanticUi::ActionView::Renderer
