.ui.grid
  .equal.width.row
    .column
      %h1.ui.header.page-header Wufoo Forms
    .right.aligned.column
      .ui.icon.buttons
        = link_to 'https://adhocteamus.wufoo.com/build/', class: 'ui tooltippy left attached icon button', title: 'New Wufoo Form' do
          %i.add.icon
        = link_to update_from_wufoo_forms_path, class: 'ui tooltippy right attached icon button', title: 'Pull updates from Wufoo' do
          %i.download.icon

%table.ui.sortable.striped.table
  %thead
    %tr
      %th Name
      %th Description
      %th Created
      %th Last update
      %th.center.aligned Actions

  %tbody
    - @forms.each do |form|
      %tr{ id: "form-#{form.id}"}
        %td= link_to form.name, "https://adhocteamus.wufoo.com/forms/#{form.url}"
        %td= form.description
        %td= form.created_on.strftime('%b %e, %Y at %l:%M %p')
        %td= form.last_update.strftime('%b %e, %Y at %l:%M %p')
        %td.center.aligned.collapsing
          .ui.icon.buttons
            = link_to form_path(form, form: { hidden: true }), method: :put, class: 'ui tooltippy left attached icon button', title: 'Hide (non-Cohorts form)' do
              %i.hide.icon
            = link_to "https://adhocteamus.wufoo.com/build/#{form.url}", class: 'ui tooltippy right attached icon button', title: 'Edit' do
              %i.edit.icon
