!!!
%html
  %head
    %title
      Cohorts | #{title = yield(:page_title); title.present? ? title : controller_name.humanize.titlecase}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin'
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = render 'application/favicon'
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    - if Cohorts::Application.config.google_analytics_enabled
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        var ga_options = {'siteSpeedSampleRate': 100}
        ga('create', '#{ENV['GOOGLE_ANALYTICS_ID']}',ga_options);
        ga('send', 'pageview');
  %body
    - if current_user
      .ui.top.fixed.menu
        = link_to admin_root_path, class: 'logo item' do
          = image_tag 'banner.svg', class: 'ui small centered image'
        = link_to people_path, class: 'item' do
          People
          .ui.label= Person.where(active: true).count
        = link_to "Gift Cards", gift_cards_path, class: 'item'
        = link_to "Forms", forms_path, class: 'item'
        = link_to submissions_path, class: 'item' do
          Submissions
          - unmatched_count = Submission.where('person_id is ?', nil).count
          - if unmatched_count.positive?
            .ui.label= unmatched_count
        = link_to 'Clients', clients_path, class: 'item'
        = link_to 'Engagements', engagements_path, class: 'item'
        .ui.dropdown.item
          More
          %i.dropdown.icon
          .menu
            = link_to "Import Phone Numbers", '/twilio_messages/sendmessages', class: 'item'
            = link_to "Add Submission", new_submission_path, class: 'item'
            = link_to "MailChimp Updates", mailchimp_updates_path, class: 'item'
            = link_to "Text Message Log", twilio_messages_path, class: 'item'
            = link_to "Landing Pages", landing_pages_path, class: 'item'
        .right.menu
          .item
            = search_form_for @q, url: search_index_path, method: :get do |f|
              .ui.transparent.icon.input
                = f.search_field :nav_bar_search_cont, placeholder: "Search..."
                %i.search.link.icon
          .item
            .ui.green.toggle.checkbox#privacy-mode-toggle{ class: session[:privacy_mode] ? 'checked' : '' }
              %input{ type: 'checkbox' }
              %label Privacy Mode
          .ui.dropdown.item#account-link
            = current_user&.email
            %i.dropdown.icon
            .menu
              = link_to 'Settings', edit_user_registration_path, class: 'item'
              = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'item'
    .ui.page.padded.container.segment{ class: current_user ? '' : 'signed-out' }
      #notifications
        - if flash[:notice] || flash[:alert] || flash[:error] || flash[:success]
          %div{class: "ui message #{flash[:notice].present? || flash[:success].present? ? "positive" : "negative"}"}
            %i.close.icon
            = flash[:alert]
            = flash[:notice]
            = flash[:error]
            = flash[:success]
      / notifications
      = yield
    .ui.three.column.grid
      .column
      .center.aligned.column
        %span.copyright
          %i.copyright.icon
          2017
          = succeed ',' do
            = link_to 'Ad Hoc', 'https://adhocteam.us/', class: 'green'
          all rights reserved.
      .right.aligned.column
        - unless Rails.env.production?
          %span{style: "color:red;"}
            = Rails.env.to_s
