!!!
%html{lang: "en"}
  %head
    %title= @page_title
    = stylesheet_link_tag "signup", media: "all"
    = render 'application/favicon'
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "True", name: "HandheldFriendly"}/
    %meta{content: "320", name: "MobileOptimized"}/
    %meta{content: "website", property: "og:type"}/
    %meta{content: "", name: "description"}/
    %meta{content: "en_US", property: "og:locale"}/
    :javascript
        (function(d) {
          var config = {
            kitId: 'vhb1ims',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
  %body
    %header
      .row
        %h1{role: "banner"}
          Cohorts
    = yield
    %footer
      .container
        .row
          %p 
            Powered by
            = link_to "Ad Hoc", "https://adhocteam.us/"
    - if Cohorts::Application.config.google_analytics_enabled
      = render "google_analytics"
      = render "facebook_pixel"
    = javascript_include_tag "signup"